name: Build Android and Windows

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  # ==================================================
  # ANDROID BUILD
  # ==================================================
  build-android:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # -----------------------------
      # Java
      # -----------------------------
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      # -----------------------------
      # Android SDK / NDK
      # -----------------------------
      - name: Set up Android SDK
        uses: android-actions/setup-android@v3

      - name: Install Android SDK packages
        run: |
          sdkmanager \
            "platform-tools" \
            "platforms;android-30" \
            "build-tools;30.0.3"

      - name: Install Android NDK r21e
        run: |
          sdkmanager "ndk;21.4.7075529"

      - name: Accept Android licenses
        run: |
          yes | sdkmanager --licenses

      - name: Export Android environment variables
        run: |
          echo "ANDROID_SDK=$ANDROID_SDK_ROOT" >> $GITHUB_ENV
          echo "ANDROID_SDK_ROOT=$ANDROID_SDK_ROOT" >> $GITHUB_ENV
          echo "ANDROID_HOME=$ANDROID_SDK_ROOT" >> $GITHUB_ENV
          echo "ANDROID_NDK_ROOT=$ANDROID_SDK_ROOT/ndk/21.4.7075529" >> $GITHUB_ENV
          echo "ANDROID_NDK_HOME=$ANDROID_SDK_ROOT/ndk/21.4.7075529" >> $GITHUB_ENV

      # -----------------------------
      # Haxe
      # -----------------------------
      - name: Setup Haxe 4.3.6
        uses: krdlab/setup-haxe@v1
        with:
          haxe-version: 4.3.6

      # -----------------------------
      # Install Haxelib dependencies
      # -----------------------------
      - name: Install Libs
        run: |
          haxelib install flixel 6.1.0 --quiet
          haxelib install flixel-ui 2.6.4 --quiet
          haxelib install flixel-addons 3.3.2 --quiet
          haxelib install lime 8.1.3 --quiet
          haxelib install openfl 9.3.4 --quiet
          haxelib git hxcpp https://github.com/HaxeFoundation/hxcpp

      - name: Set haxelib versions
        run: |
          haxelib set lime 8.1.3
          haxelib set openfl 9.3.4
          haxelib set flixel 6.1.0
          haxelib set flixel-ui 2.6.4
          haxelib set flixel-addons 3.3.2
          haxelib set hxcpp git

      # -----------------------------
      # Lime setup android
      # -----------------------------
      - name: Lime setup android
        run: |
          haxelib run lime setup android

      # -----------------------------
      # Build Android APK
      # -----------------------------
      - name: Build Android
        run: |
          haxelib run lime build android -verbose

      # -----------------------------
      # Upload export folder
      # -----------------------------
      - name: Upload Android Export
        uses: actions/upload-artifact@v4
        with:
          name: Android-export
          path: export/

  # ==================================================
  # WINDOWS BUILD
  # ==================================================
  build-windows:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # -----------------------------
      # Haxe
      # -----------------------------
      - name: Setup Haxe 4.3.6
        uses: krdlab/setup-haxe@v1
        with:
          haxe-version: 4.3.6

      # -----------------------------
      # Install Haxelib dependencies
      # -----------------------------
      - name: Install Libs
        run: |
          haxelib install flixel 6.1.0 --quiet
          haxelib install flixel-ui 2.6.4 --quiet
          haxelib install flixel-addons 3.3.2 --quiet
          haxelib install lime 8.1.3 --quiet
          haxelib install openfl 9.3.4 --quiet
          haxelib install hxWindowColorMode --quiet
          haxelib git hxcpp https://github.com/HaxeFoundation/hxcpp

      - name: Set haxelib versions
        run: |
          haxelib set lime 8.1.3
          haxelib set openfl 9.3.4
          haxelib set flixel 6.1.0
          haxelib set flixel-ui 2.6.4
          haxelib set flixel-addons 3.3.2
          haxelib set hxcpp git

      # -----------------------------
      # Setup Windows
      # -----------------------------
      - name: Setup Windows
        run: |
         haxelib run lime setup windows 
      # -----------------------------
      # Build Windows
      # -----------------------------
      - name: Build Windows
        run: |
          haxelib run lime build windows -verbose

      # -----------------------------
      # Upload export folder
      # -----------------------------
      - name: Upload Windows Export
        uses: actions/upload-artifact@v4
        with:
          name: Windows-export
          path: export/
